#intro 
{
background-image:url(../img/Fondo.png) !important; 		
background-size: 480px 800px !important;	
background-position: center center !important;	
background-color: #000 !important;	
background-repeat: no-repeat !important;	

}

.ui-page{
	background:url(../img/Fondo.png) !important;
	background-size: 480px 800px !important;
	background-position:top;
	background-repeat:repeat !important;
	

	/*background-size: 320px 480px ;	
	background-attachment:fixed !important; 
	right:0px; top:0px; z-index:100 !important;*/
}



header{
	border: none !important;
	background: -webkit-linear-gradient(#3C3C3C,#333) !important;
	box-shadow: 0px 0px 20px #000 !important;
}

header h1{
	background-size: 40px 40px !important;	
	font-family:Arial, Helvetica, sans-serif !important;
	margin:10 px !important;
	font-size:35px ;
	color:#e1bb81 !important;
	text-shadow: 1px 1px 1px #684925 !important;

}

.ui-icon-myapp-email {
	background-image: url("prueba.png");
}

.ui-field-contain, fielsest.ui-field-contain{
	padding: 5px !important; 
}

#principal header h1{
	background-image:url(img/note.jpg) !important;
	background-repeat:no-repeat !important;
	
}
/*
footer .ui-btn-active{
	background:none !important;
	background-color:#dfa234 !important;
	text-shadow:0px 1px 1px #000 !important;
}

.ui-btn-active {
	background-color:#dfa234 !important;
}
*/
.field{
	margin-top: 5px !important;
	margin-bottom:5px !important;
}

#foto,
 .foto{
	 background-size: cover !important;
	 background-position:center center !important;
	 width: 160px;
	 height:240px;
	 display: none;
	 margin: auto;
	 background-size:cover;
 }
 
 #ver{
	 color:#563919;
	 text-shadow:1px 1px 1px #fcd799;
 }
 
 #ver .titulo {
	 font-size:30px;
	 font-weight:bold;
 }
 
 #ver .descripcion{
	 font-size:22px;
 }
 
 #ver .fecha{
	 font-size:12px;
	 color:#333;
	 text-shadow:none;
 }
 